
.jumbotron{
  padding: 20px;
  margin: 0px
}

.search-bar {
  background-color: rgba(108, 174, 117, 0.7);
  padding: 4%;
  color: white
}

.search-bar button{
    padding: 7px 10px;
    margin: auto
  }

.errMessageWish{
    font-size: 0.7rem;
    color: red
  }

.messageAddedWish{
  font-size: 0.7rem;
  color: green
}

  