
.App {
  text-align: center;
  margin-top: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */

.nav-bar-styles{
  background-color: #6CAE75;
}

.nav-bar-styles a{
  color: white
}

.navbar button{
  color: white
}

.navbar img{
  width: 30px;
  margin-right: 7px;
}

/* SIGNUP and LOGIN */
.form-sign-log-in {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto
}

.form-sign-log-in button{
  background-color: #8BBD8B;
  color: white;
  margin-top: 20px
}

.errMessage{
  color: red
}

.btn {
  background-color: #AAC68E;
  padding: 2px 5px;
  color: white
}

.card-container{
  margin-bottom: 20px;
}

.card {
  padding: 3px
}


.card-img-top{
  object-fit: cover;
  height: 200px;
  width: auto 
}



.card-title{
  font-size: 1rem
}

.card-body{
  padding: 0rem;
  margin-top: 10px;
}

.card-text{
  font-size: 0.8rem;
}

.card-footer{
  margin-top: 10px;
  padding: 0px;
}

.card-footer .nav-item{
  color: #819472;
}

#locationIcon{
  width: 20px;
}

.btn-delete{
  background-color: #FDB49E;
}


