
.App {
  text-align: center;
  margin-top: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-item-welcome{
  align-self: center;
  color: #EEECEA;
  padding-right: 12px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */

.nav-bar-styles{
  /* background-color: #6CAE75; */
  background-color: #B28D51;
}

.nav-bar-styles a{
  color: white
}

.navbar button{
  color: white
}

.navbar img{
  width: 30px;
  margin-right: 7px;
}


.errMessage{
  color: red
}

.btn {
  /* background-color: #AAC68E; */
  background-color: #9A7A47;
  border: 1px solid #8C6E40;
  padding: 2px 5px;
  color: white
}

.card {
  padding: 3px;
  margin-bottom: 20px
}

.card-img-top{
  object-fit: cover;
  height: 200px;
  width: auto 
}

.card-title{
  font-size: 1rem;
  padding: 0px 8px;
}

.card-body{
  padding: 0rem;
  margin-top: 10px;
}

.card-text{
  font-size: 0.8rem;
  padding: 0px 8px;
}

.card-footer{
  padding: 0px 8px 3px;
}

.card-footer .nav-item{
  color: #8C6E40;
}

#locationIcon{
  width: 20px;
}

.btn-delete{
  background-color: #8C6E40;
}


