
.App {
  text-align: center;
  margin-top: 80px;
}


/* NAVBAR */

.nav-bar-styles{
  background-color: #B28D51;
}

.nav-bar-styles a{
  color: white
}

.navbar button{
  color: white
}

.nav-item-welcome{
  align-self: center;
  color: #EEECEA;
  padding-right: 12px
}

.navbar img{
  width: 30px;
  margin-right: 7px;
}

.errMessage{
  color: red
}

.btn {
  /* background-color: #AAC68E; */
  background-color: #9A7A47;
  border: 1px solid #8C6E40;
  padding: 2px 5px;
  color: white
}

.card {
  padding: 3px;
  margin-bottom: 20px
}

.card-img-top{
  object-fit: cover;
  height: 200px;
  width: auto 
}

.card-title{
  font-size: 1rem;
  padding: 0px 8px;
}

.card-body{
  padding: 0rem;
  margin-top: 10px;
}

.card-text{
  font-size: 0.8rem;
  padding: 0px 8px;
}

.card-footer{
  padding: 0px 8px 3px;
}

.card-footer .nav-item{
  color: #8C6E40;
}

#locationIcon{
  width: 20px;
}

.btn-delete{
  background-color: #8C6E40;
}


