/* @import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


body {
  margin: 0;
  font-family: 'PT Sans', sans-serif,
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
